body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
    
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 100%;
    margin-top: 5px;
}

.left-header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    margin-left: 10%;

}

.right-header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    margin-top: 25px;
    margin-right: 10%;
}
ul{
    list-style: none;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
.bottom-header {
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    
}
.text-header {
    font-size: 48px;
    color: #F9FAF8;
    
}

.text-description {
    color: #E5E7EB;
    font-size: 18px;
    
}
.signup {
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 15px;
    width: fit-content;
    border: none;
    cursor: pointer;
   
}

.top-image {
    width: 600px;
    height: 300px;
   
}
.top-image img {
    width: 100%;   
    height: 100%;
    object-fit: cover; 
}
.botleft-header {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    flex: 1 2 50%;
    gap: 10px;
}

.botright-header {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    margin-right: 10%;
}


.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.boxes {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.blue-box {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    box-sizing: border-box;  
    
}

.description { 
    margin-top: 10px;
    text-align: center;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.message {
    
    margin-top: 60px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 80%;
    margin-bottom: 0%;
}

.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}
.action {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 800px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 15px;
    border: 1px solid #F9FAF8;
    
}

.action-message {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;
    margin-left: 30px;
}

.action-header {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 20px;
    margin: 0;  
}

.action-body {
    color: #E5E7EB;
    font-size: 17px;
    margin: 0;  
}

.action-signup { 
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 15px;
    height: fit-content;
    width: fit-content;
    border: 2px solid #F9FAF8;
    cursor: pointer;
    margin-right: 30px;
    
}